body{
    margin: 0;
    background: linear-gradient(to right, red, lightblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}

.container{
    background: rgba(255, 255, 255, .3);
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    width: 85%;
    max-width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 32px;
}

.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

.input{
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255, 255, 255, .3);
    border-color: rgba(255, 255, 255, .5);
    color: crimson;
    font-size: 18px;
}

.input::placeholder{
    color: darkblue;
}